<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./Logs/internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="log" fileName="./Logs/${date:format=yyyy-MM-dd}_words-github.log"
            layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff}|${uppercase:${level}}${aspnet-request-ip}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="logError" fileName="./Logs/${date:format=yyyy-MM-dd}_words-github_Error.log"
            layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff}|${uppercase:${level}}${aspnet-request-ip}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="service" fileName="./Logs/${date:format=yyyy-MM-dd}_service.log"
            layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target xsi:type="Console" name="logConsole"
            layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff}|${uppercase:${level}}${aspnet-request-ip}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Service" minlevel="Trace" writeTo="service" final="true" />
    <logger name="*" minlevel="Trace" writeTo="log" />
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Trace" writeTo="logConsole" />
  </rules>
</nlog>